button {
  /* background-color: #00bc00; */
  /* border-radius: 10px; */
  padding: 5px;
  font-size: 18px;
  min-width: 150px;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
  min-height: 200px;
  padding: 20px;
}

legend {
  font-family: 'Times New Roman', Times, serif;
}

textarea {
  max-width: 350px;
  max-height: 150px;
  min-width: 250px;
  min-height: 100px;
}